<div class="container">
  <div class="jumbotron">
    <h1>關於本站</h1>
    <p>本網站是提供快速查詢台灣五碼郵遞區號的功能，也包含回傳JSON格式。</p>
    <p>目前查詢正確率還不是很高，若有任何問題或是想協助修改，可以到<a href="https://github.com/KevinStoneCode/zip5tw">GitHub</a>留言</p>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1>使用方式</h1>
    <p>一般使用方式：直接在搜尋框內輸入欲查詢的地址</p>
    <p>
      API 使用方式：使用以下格式：/zip5/<地址>.json<br>
      就會得到JSON格式的資料
    </p>
  </div>
</div>