<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "台灣３＋２郵遞區號查詢", root_path, id: "logo",  class: "navbar-brand" %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "首頁",   root_path %></li>
        <li><%= link_to "關於",   about_path %></li>
      </ul>
    </nav>
  </div>
</nav>